<%- include("header") -%>

    <h2>This is the about page.</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut voluptate quisquam, eius dolorem quaerat architecto obcaecati deserunt dolore ab? Sequi quo laudantium, porro possimus nostrum dignissimos numquam fugiat debitis deleniti.</p>

<%- include("footer") -%>